@import "../../../css/mystyles.css";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.title {
  font-weight: 600;
  width: 85px;
  text-align: center;
  height: 19px;
  font-family: "Poppins", sans-serif;
  font-stretch: normal;
  font-style: normal;
  font-size: 14px;
  color: white;
  line-height: normal;
  letter-spacing: 0.07px;
}
