@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.ship-title{
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  font-stretch: normal;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  text-align: left;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1421;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  margin: 12px;
}
.shipping-content {
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 28px;
  margin-bottom: 18px;
}