@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
.btn-track-home {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
}

.btn-claim-home {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.track {
  text-align: left;
  width: 330px;
  margin-left: 6px;
  font-family: "Poppins", sans-serif;
  object-fit: contain;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.track-claim {
  text-align: left;
  object-fit: contain;
  width: 150px;  
  margin-left: 6px;
  height: 100%;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  line-height: normal;
  letter-spacing: normal;
}
.sub-track {
  width: 180px;
  height: 9px;
  font-family: "Poppins", sans-serif;
  margin-top: 5px;
  object-fit: contain;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.24px;
  color: #d11f40;
}
.cards {
  margin: 20px;
}
.input-track {
  display: flex;
  flex-direction: row;
}
.img-question {
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.content-track {
  margin-top: 15px;
  margin-bottom: 15px;
}

.add-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.close {
  width: 20px;
  height: 20px;
  align-self: center;
  margin-right: 5px;
}

.content-input {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.custom-input{
  background-color: white;
  border-color: #dbdbdb;
  border-radius: 4px;
  margin-top: 5px;
  border-width: 1.5px;
  color: #363636;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 44px;
  border-style: solid;
}

.myinput{
  width: 100%;
  border-left: 0cm;
  border-top: 0cm;
  border-bottom: 0cm;
  border-right: 0.5px;
  height:43px;
  margin-top: -1px;
  align-self: center;
  margin-left: 2px;
  border-top: 0.5px;
  border-color: #dbdbdb;
  border-style: solid;




}

input{
  height:25px;
  width:100%;
  padding-left: 20px;
  border:none;outline:none;
  align-self: center;
}
