.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  @media (min-width: 320px) {
    .airplane {
      margin-left: 10px;
      background-size: contain;
      object-fit: contain;
    }
  }

  
  @media (min-width: 768px) {
    .airplane {
      background-size: contain;
      object-fit: contain;
      margin-left: 30px;
    }
  }
  @media (min-width: 1024px) {
    .airplane {
      background-size: contain;
      object-fit: contain;
      position: relative;
      margin-top: -60px;
    }
  }
  
  @media (min-width: 320px) {
    .second-cloud {
      width: 90%;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
    }
  }

  @media (min-width: 768px) {
    .second-cloud {
      width: 80%;
      background-repeat: no-repeat;
      background-size: contain;
      height: 80px;
      margin-bottom: 100px;
    }
  }
  
  @media (min-width: 1024px) {
    .second-cloud {
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  @media(min-width: 320px){
    .third-cloud {
      width: 200px;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
      background-position: right;
    }
  }
  
  @media(min-width: 768px){
    .third-cloud {
      width: 200px;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
      background-position: center;
    }
  }
  
  @media(min-width: 1024px){
    .third-cloud {
      width: 200px;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
      margin-left: -110px;
      background-position: center;
    }
  }
  
  
  .fourth-cloud {
    width: 155px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 70px;
    margin-left: -40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .content-on-mobile {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 80px;
  }
  .content-on-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }