@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import "../../../css//mystyles.css";
  @media (min-width: 300px) {
    .bg-detail-check-claim {
        background-size: contain;
        object-fit: contain;
        display: flex;
        height: 200px;
        width: 100%;
        background-repeat: no-repeat;
        position: absolute;
      }
  }

  
@media (min-width: 640px) {
    .bg-detail-check-claim-mobile {
      background-size: cover;
      background-position:center;
      object-fit: contain;
      display: flex;
      flex-direction: column;
      width: 100%;
      background-repeat: no-repeat;
      position: absolute;
      height: 300px;
    }
  }

  .bg-detail-check-price-mobile {
    background-size: cover;
    object-fit: contain;
    display: flex;
    height: 200px;
    background-position: center;
    margin-top: 20px;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
  }

  @media (min-width: 640px){
    .bg-detail-check-price-mobile {
      background-size: cover;
      object-fit: contain;
      display: flex;
      height: 200px;
      background-position: center;
      margin-top: 20px;
      width: 100%;
      background-repeat: no-repeat;
      position: absolute;
    }
  }

  .content-result-claim{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media(min-width: 360px){
    .title-search-result-claim{
        object-fit: contain;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1a1421;
      }
  }

  @media(min-width: 600px){
    .title-search-result-claim{
        object-fit: contain;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1a1421;
      }
  }
  

  @media(min-width: 360px){
    .subtitle-search-result-claim{
        font-family: "Poppins", sans-serif;
        object-fit: contain;
        font-size: 13px;
        font-weight: 600;
        font-stretch: normal;
        text-align: center;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #c4c4c4;
      }
    
}
@media(min-width: 600px){
    .subtitle-search-result-claim{
        font-family: "Poppins", sans-serif;
        object-fit: contain;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        text-align: center;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #c4c4c4;
      }
    
}
  
  
  @media (min-width: 360px){
    .shipping-content-result-claim {
        margin-left: 18px;
        margin-right: 18px;
      }
    }

  @media (min-width: 600px){
    .shipping-content-result-claim {
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 50px;
        margin-bottom: 18px;
      }

      
}

  .icon-home{
    width: 16px;
    height: 16px;
    object-fit: contain;
    align-self: center;
    margin-top: 5px;
    margin-right: 5px;
  }

  .content-breadcrumb{
    padding-left: 55px;
    padding-top: 20px;
  }

  .route-breadcrumb{
    object-fit: contain;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1a1421;
    text-align: center;
  }

  .icon-download{
      width: 20px;
      height: 20px;
      object-fit: contain;
      margin-top: 30px;
  }

  .content-icon-download{
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
  }

  .content-btn-new-claim{
      display: flex;
      justify-content: center;
      flex-direction: row;
  }
  .btn-create-claim {
    font-weight: 600;
    text-align: center;
    font-stretch: normal;
    font-style: normal;
    font-size: 14px;
    line-height: normal;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.07px;
  }