@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.content {
  flex-direction: column;
  display: flex;
}
@media (min-width: 360px) {
  .img-cloud {
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 600px) {
  .img-cloud {
    width: 700px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    display: flex;
    justify-content: center;
  }
}
.text-promo {
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  object-fit: contain;
  font-size: 16px;
  text-align: left;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d11f40;
}
.sub-text-promo {
  font-family: "Poppins", sans-serif;
  object-fit: contain;
  font-size: 12px;
  max-width: 80%;
  text-align: left;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #1a1421;
}

.promo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 12px;
}