@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import "../../../css/mystyles.css";

@media (min-width: 320px) {
    .bg-detail-check-track {
        background-size: contain;
        object-fit: contain;
        display: flex;
        height: 200px;
        width: 100%;
        background-repeat: no-repeat;
        position: absolute;
      }
  }

  
@media (min-width: 768px) {
    .bg-detail-check-track {
      background-size: cover;
      object-fit: contain;
      display: flex;
      flex-direction: column;
      width: 100%;
      background-repeat: no-repeat;
      position: absolute;
      height: 300px;
    }
  }


  @media (min-width: 1024px) {
    .bg-detail-check-track {
      background-size: cover;
      object-fit: contain;
      display: flex;
      flex-direction: column;
      width: 100%;
      background-repeat: no-repeat;
      position: absolute;
      height: 300px;
    }
  }



  @media(min-width: 320px){
    .title-search-result-track{
        object-fit: contain;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1a1421;
      }
  }

  @media(min-width: 768px){
    .title-search-result-track{
        object-fit: contain;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1a1421;
      }
  }

  @media(min-width: 1024px){
    .title-search-result-track{
        object-fit: contain;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1a1421;
      }
  }
  
  

  @media(min-width: 320px){
    .subtitle-search-result-track{
        font-family: "Poppins", sans-serif;
        object-fit: contain;
        font-size: 13px;
        font-weight: 600;
        font-stretch: normal;
        text-align: center;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #c4c4c4;
      }
    
}
@media(min-width: 768px){
    .subtitle-search-result-track{
        font-family: "Poppins", sans-serif;
        object-fit: contain;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        text-align: center;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #c4c4c4;
      }
    
}

@media(min-width: 1024px){
  .subtitle-search-result-track{
      font-family: "Poppins", sans-serif;
      object-fit: contain;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      text-align: center;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #c4c4c4;
    }
  
}

.bg-detail-check-track-mobile {
  background-size: cover;
  object-fit: contain;
  display: flex;
  height: 200px;
  background-position: center;
  margin-top: 20px;
  width: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

  .icon-home{
    width: 16px;
    height: 16px;
    object-fit: contain;
    align-self: center;
    margin-top: 5px;
    margin-right: 5px;
  }

  @media(min-width: 320px){
    .content-breadcrumb-track{
      padding-top: 20px;
    }
  }

  @media(min-width: 768px){
    .content-breadcrumb-track{
      padding-top: 20px;
    }
  }

  @media(min-width: 1024px){
    .content-breadcrumb-track{
      padding-top: 20px;
    }
  }

  .route-breadcrumb{
    object-fit: contain;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1a1421;
    text-align: center;
  }

.ship-title-track-detail-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

  @media(min-width: 320px){
    .ship-title-track-detail{
        font-size: 12px;
        font-weight: bolder;
        font-stretch: normal;
        font-style: normal;
        font-family: "Poppins", sans-serif;
        text-align: left;
        line-height: normal;
        letter-spacing: normal;
        color: #c4c4c4;
      }
}

@media(min-width: 768px){
    .ship-title-track-detail{
        font-size: 13px;
        font-weight: bolder;
        font-stretch: normal;
        font-style: normal;
        font-family: "Poppins", sans-serif;
        text-align: left;
        line-height: normal;
        letter-spacing: normal;
        color: #c4c4c4;
      }
}


@media(min-width: 1024px){
  .ship-title-track-detail{
      font-size: 13px;
      font-weight: bolder;
      font-stretch: normal;
      font-style: normal;
      font-family: "Poppins", sans-serif;
      text-align: left;
      line-height: normal;
      letter-spacing: normal;
      color: #c4c4c4;
    }
}


.ship-title-track-expand{
  font-size: 15px;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  text-align: left;
  line-height: normal;
  letter-spacing: normal;
  color: #c4c4c4;
}

@media(min-width: 320px){
  .ship-title-track-expand-bold{
      font-size: 15px;
      font-weight: bolder;
      font-stretch: normal;
      font-style: normal;
      font-family: "Poppins", sans-serif;
      text-align: left;
      padding-left: 5px;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
    }
}

@media(min-width: 768px){
  .ship-title-track-expand-bold{
      font-size: 15px;
      font-weight: bolder;
      font-stretch: normal;
      padding-left: 5px;
      font-style: normal;
      font-family: "Poppins", sans-serif;
      text-align: left;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
    }
}

@media(min-width: 1024px){
  .ship-title-track-expand-bold{
      font-size: 15px;
      font-weight: bolder;
      font-stretch: normal;
      padding-left: 5px;
      font-style: normal;
      font-family: "Poppins", sans-serif;
      text-align: left;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
    }
}

@media(min-width: 320px){
  .btn-detail-track {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 8px;
  }
}

@media(min-width: 768px){
  .btn-detail-track {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    margin-top: 38px;
    margin-right: 15px;
    margin-left: 25px;
    margin-bottom: 8px;
  }
}

@media(min-width: 1024px){
  .btn-detail-track {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    margin-top: 38px;
    margin-right: 15px;
    margin-left: 25px;
    margin-bottom: 8px;
  }
}



@media (min-width: 320px){
    .shipping-content-detail-tracking {
        margin-left: 18px;
        margin-right: 18px;
        margin-top: 90px;
        margin-bottom: 18px;
      }
      
}

@media (min-width: 768px){
    .shipping-content-detail-tracking {
        margin-left: 75px;
        margin-right: 75px;
        margin-top: 75px;
        margin-bottom: 18px;
      }
      
}

@media (min-width: 1024px){
  .shipping-content-detail-tracking {
      margin-left: 150px;
      margin-right: 150px;
      margin-top: 180px;
      margin-bottom: 18px;
    }
    
}


.check-tracking{
    object-fit: contain;  
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: bolder;
    font-stretch: normal;
    font-style: normal;
    margin-bottom: 5px;
    text-align: left;
    line-height: normal;
    letter-spacing: normal;
    color: #ef3d59;

}

.sub-detail-track {
    font-family: "Poppins", sans-serif;
    margin-right: 20px;
    align-self: center;
    object-fit: contain;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.24px;
    color: #d11f40;
  }

  @media(min-width: 320px){
    .track-process{
        display: flex;
        flex-direction: column;
    }
}

@media(min-width: 768px){
  .track-process{
        flex-direction: column;
        display: flex;

  }
}

@media(min-width: 1024px){
    .track-process{
        display: flex;
        flex-direction: row;

    }
}

@media(min-width: 320px){
  #content-track-process{ 
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: center;
}
}
@media(min-width: 768px){
  #content-track-process{ 
    flex-direction: row;
    display: flex;
    width: 100%;
}
}
@media(min-width: 1024px){
  #content-track-process{ 
    flex-direction: row;
    display: flex;
    width: 100%;
}
}


.level-margin{
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;

}

.title-card-track{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media(min-width: 320px){
    .info-track{
        object-fit: contain;
        font-size: 11px;
        width: 200px;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-stretch: normal;
        align-self: center;
        margin: 5px;
        text-align: center;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
      }
}


@media(min-width: 768px){
    .info-track{
        object-fit: contain;
        font-size: 11px;
        width: 100px;
        padding-top: 10px;
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        align-self: center;
        font-stretch: normal;
        text-align: center;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
      }
}

@media(min-width: 1024px){
  .info-track{
      object-fit: contain;
      font-size: 11px;
      width: 100px;
      padding-top: 10px;
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      align-self: flex-end;
      font-stretch: normal;
      text-align: center;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
      align-self: flex-end;
    }
}
@media(min-width: 320px){

  .info-track-disabled{
    object-fit: contain;
    font-size: 11px;
    width: 200px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-stretch: normal;
    align-self: center;
    margin: 5px;
    text-align: center;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #c4c4c4;
  }
}
@media(min-width: 768px){

  .info-track-disabled{
    object-fit: contain;
    font-size: 11px;
    width: 200px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-stretch: normal;
    align-self: center;
    margin: 5px;
    text-align: center;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #c4c4c4;
  }
}

@media(min-width: 1024px){

  .info-track-disabled{
    object-fit: contain;
    font-size: 11px;
    width: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-stretch: normal;
    align-self: center;
    margin: 5px;
    text-align: center;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #c4c4c4;
  }
  
}
@media(min-width: 320px){
  .info-track-top{
      object-fit: contain;
      font-size: 11px;
      width: 90px;
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      font-stretch: normal;
      text-align: center;
      align-self: center;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
    }
}

@media(min-width: 768px){
    .info-track-top{
      object-fit: contain;
      font-size: 11px;
      width: 130px;
      align-self: center;
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
      }
}




@media(min-width: 1024px){
  .info-track-top{
      object-fit: contain;
      font-size: 11px;
      text-align: center;
      padding-bottom: -10px;
      width: 180px;
      align-self: flex-end;
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
    }
}
.info-track-top-disabled{
  object-fit: contain;
  font-size: 11px;
  text-align: center;
  padding-bottom: -10px;
  width: 180px;
  align-self: flex-end;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c4c4c4;
}


.info-track-bottom{
  object-fit: contain;
  font-size: 11px;
  text-align: center;
  width: 180px;
  align-self: flex-end;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.info-track-bottom-disabled{
  object-fit: contain;
  font-size: 11px;
  text-align: center;
  margin-left: 60px;
  width: 180px;
  align-self: center;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c4c4c4;
}




@media(min-width: 320px){
.icon-track-process{
    width: 25px;
    height: 25px;
    align-self: center;
    object-fit: contain;
}
}

@media(min-width: 768px){
  .icon-track-process{
    width: 35px;
    height: 35px;
    align-self: center;
    object-fit: contain;
  }
}

@media(min-width: 1024px){
  .icon-track-process{
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    align-self: flex-end;
    object-fit: contain;
  }
}

@media(min-width: 320px ){
    .border-blue{
      border: #4fb0ec;
      height: 2px;
      width: 60px;
      transform: rotate(90deg);
      align-self: center;
      object-fit: contain;
      margin-top: 40px;
      margin-bottom: 15px;
      border-style: solid;
      border-width: 1px;  
    }

}

@media(min-width: 768px ){
    .border-blue{
        border: #4fb0ec;
        height: 2px;
        width: 80px;
        margin-top: 40px;
        object-fit: contain;
        transform: rotate(90deg);
        border-style: solid;
        border-width: 1px;  
    }


}

@media(min-width: 1024px ){
  .border-blue{
    border: #4fb0ec;
    height: 2px;
    width: 150px;
    margin-left: 4px;
    margin-right: 4px;
    align-self: flex-end;
    object-fit: contain;
    transform: rotate(180deg);
    border-style: solid;
    border-width: 1px;  
  }

}

@media(min-width: 320px){
  .border-blue-non-ecargo{
    border: #4fb0ec;
    height: 2px;
    width: 60px; 
    align-self: center;
    display: flex;
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    flex-direction: column;
    object-fit: contain;
    transform: rotate(90deg);
    border-style: solid;
    border-width: 1px;  
  }
}

@media(min-width: 768px){
  .border-blue-non-ecargo{
    border: #4fb0ec;
    height: 2px;
    width: 75px; 
    align-self: center;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    flex-direction: column;
    object-fit: contain;
    transform: rotate(90deg);
    border-style: solid;
    border-width: 1px;  
  }
}


@media(min-width: 1024px){
  .border-blue-non-ecargo{
    border: #4fb0ec;
    height: 2px;
    width: 175px; 
    align-self: center;
    display: flex;
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
    flex-direction: column;
    object-fit: contain;
    transform: rotate(180deg);
    border-style: solid;
    border-width: 1px;  
  }
  
}

@media(min-width: 320px){
  .border-gray-non-ecargo{
    border: gainsboro;
    height: 2px;
    width: 60px; 
    align-self: center;
    display: flex;
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    flex-direction: column;
    object-fit: contain;
    transform: rotate(90deg);
    border-style: dashed;
    border-width: 1px;  
  }
}

@media(min-width: 768px){
  .border-gray-non-ecargo{
    border: gainsboro;
    height: 2px;
    width: 75px; 
    align-self: center;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px; 
    margin-left: 5px;
    margin-right: 5px;
    flex-direction: column;
    object-fit: contain;
    transform: rotate(90deg);
    border-style: dashed;
    border-width: 1px;  
  }
  
}

@media(min-width: 1024px){
  .border-gray-non-ecargo{
    border: gainsboro;
    height: 2px;
    width: 175px; 
    align-self: center;
    display: flex;
    margin-top: 60px; 
    margin-left: 5px;
    margin-right: 5px;
    flex-direction: column;
    object-fit: contain;
    transform: rotate(180deg);
    border-style: dashed;
    border-width: 1px;  
  }
  
}

@media(min-width: 320px ){
  .border-blue-ecargo{
    border: #4fb0ec;
    height: 2px;
    width: 60px;
    transform: rotate(90deg);
    align-self: center;
    object-fit: contain;
    margin-top: 40px;
    margin-bottom: 15px;
    border-style: dashed;
    border-width: 1px;  
  }

}
@media(min-width: 768px ){
  .border-blue-ecargo{
      border: #4fb0ec;
      height: 2px;
      width: 80px;
      align-self: center;
      margin-bottom: 30px;
      object-fit: contain;
      transform: rotate(90deg);
      border-style: solid;
      border-width: 1px;  
  }

}

@media(min-width: 1024px ){
  .border-blue-ecargo{
      border: #4fb0ec;
      height: 2px;
      width: 150px;
      margin-left: 4px;
      margin-right: 4px;
      align-self: flex-end;
      object-fit: contain;
      transform: rotate(180deg);
      border-style: solid;
      border-width: 1px;  
  }

}

@media(min-width: 320px){
  .border-gray{
    border: gainsboro;
    height: 2px;
    width: 80px; 
    object-fit: contain;
    margin-top: 40px;
    margin-left: 2px;
    align-self: center;
    transform: rotate(90deg);
    border-style: dashed;
    border-width: 1px;  
}
}
@media(min-width: 768px){
  .border-gray{
    border: gainsboro;
    height: 2px;
    width: 80px; 
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    object-fit: contain;
    transform: rotate(90deg);
    justify-content: center;
    border-style: dashed;
    border-width: 1px;  
}
}


@media(min-width: 1024px){
  .border-gray{
    border: gainsboro;
    height: 2px;
    width: 175px; 
    align-self: center;
    display: flex;
    margin-top: 40px;
    margin-left: 5px;
    flex-direction: column;
    object-fit: contain;
    transform: rotate(180deg);
    border-style: dashed;
    border-width: 1px;  
}
}


@media(min-width: 320px){
  .border-gray-ecargo{
    border:gainsboro;
    height: 2px;
    width: 60px;
    transform: rotate(90deg);
    align-self: center;
    object-fit: contain;
    margin-top: 40px;
    margin-bottom: 15px;
    border-style: dashed;
    border-width: 1px;  
}
}
@media(min-width: 768px){
  .border-gray-ecargo{
    border:gainsboro;
    height: 2px;
    width: 60px;
    transform: rotate(90deg);
    align-self: center;
    object-fit: contain;
    margin-top: 40px;
    margin-bottom: 15px;
    border-style: dashed;
    border-width: 1px;  
}
}


@media(min-width: 1024px){
  .border-gray-ecargo{
    border: gainsboro;
      height: 2px;
      width: 150px;
      margin-left: 4px;
      margin-right: 4px;
      align-self: center;
      margin-top: 38px;
      object-fit: contain;
      transform: rotate(180deg);
      border-style: dashed;
      border-width: 1px;  
}
}


@media(min-width: 320px){
  .title-search-result-track{
      object-fit: contain;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #1a1421;
    }
}

@media(min-width: 768px){
  .title-search-result-track{
      object-fit: contain;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #1a1421;
    }
}

@media(min-width: 1024px){
  .title-search-result-track{
      object-fit: contain;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #1a1421;
    }
}


@media(min-width: 320px){
  .subtitle-search-result-track{
      font-family: "Poppins", sans-serif;
      object-fit: contain;
      font-size: 13px;
      font-weight: 600;
      font-stretch: normal;
      text-align: center;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #c4c4c4;
    }
  
}
@media(min-width: 768px){
  .subtitle-search-result-track{
      font-family: "Poppins", sans-serif;
      object-fit: contain;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      text-align: center;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #c4c4c4;
    }
  
}

@media(min-width: 1024px){
  .subtitle-search-result-track{
      font-family: "Poppins", sans-serif;
      object-fit: contain;
      font-size: 14px;
      font-weight: 600;
      font-stretch: normal;
      text-align: center;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #c4c4c4;
    }
  
}

.somediv{
  display: flex;
  justify-content: center;
  flex-direction: row;
}





@media(min-width: 320px){
  .content-split-track{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
}
@media(min-width: 768px){
  .content-split-track{
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
}
}

@media(min-width: 1024px){
  .content-split-track{
    display: flex;
    flex-direction: column;
    align-self: center;
}
}


@media(min-width: 320px){
  .content-split-track-odd{
    display: flex;
    flex-direction: column;
    margin-top:40px; 
}

}
  

@media(min-width: 768px){
  .content-split-track-odd{
    display: flex;
    flex-direction: column;
  }
}


@media(min-width: 1024px){
  .content-split-track-odd{
    display: flex;
    flex-direction: column;
    
  }
}

@media(min-width: 320px){
.click-for-detail{
  object-fit: contain;
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c4c4c4;
}
}

@media(min-width: 768px){
.click-for-detail{
  object-fit: contain;
  font-size: 16px;
  padding-left:20px;
  padding-top: 10px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c4c4c4;
}
}

@media(min-width: 1024px){
  .click-for-detail{
    object-fit: contain;
    font-size: 14px;
    padding-left:20px;
    padding-top: 10px;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #c4c4c4;
  }
  }

.expand-margin{
  margin-top: 8px;
  margin-bottom: 8px;

}
.ship-title-track-content{
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.track-result-not-found{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin: 15px; 
}

@media(min-width: 320px){
.cloud-not-found{
  width: 280px;
  height: 120px;  
  object-fit: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-self: center;
  justify-content: center;

}
}

@media(min-width: 768px){
  .cloud-not-found{
    width: 360px;
    height: 180px;  
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-self: center;
    justify-content: center;
  
  }
  }

 @media(min-width: 1024px){
  .cloud-not-found{
    width: 360px;
    height: 180px;  
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-self: center;
  
  }
  }
@media(min-width: 320px){
  .box-not-found{
    width: 200px;
    height: 120px;
    align-self: flex-end;  
  }
}
@media(min-width: 768px){
  .box-not-found{
    width: 260px;
    height: 160px;
    align-self: flex-end;  
  }
}

@media(min-width: 1024px){
  .box-not-found{
    width: 260px;
    height: 160px;
    align-self: flex-end;  
  }
}
@media(min-width: 320px){
  .box-cancel{
    width: 160px;
    height: 120px;
    align-self: center;  
  }
    
}

@media(min-width: 768px){
  .box-cancel{
    width: 220px;
    height: 180px;
    align-self: flex-start;  
  }
    
}
@media(min-width: 1024px){
  .box-cancel{
    width: 220px;
    height:180px;
    align-self: flex-start;  
  }
    
}


.package-not-available{
  object-fit: contain;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  font-family: "Poppins", sans-serif;
  line-height: normal;
  letter-spacing: normal;
  color: #c4c4c4;
}

@media(min-width: 320px){
  .process-track{
    width: 360px;
    height: 160px;  
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    display: flex;
    justify-content: center;
  
  }
}
@media(min-width: 768px){
  .process-track{
    width: 360px;
    height: 180px;  
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-self: center;
  
  }
}

@media(min-width: 1024px){
  .process-track{
    width: 360px;
    height: 180px;  
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-self: center;
  
  }
}



input{
  height:25px;
  width:100%;
  padding-left: 10px;
  border:none;outline:none;
  align-self: center;
}
.content-input-detail-track {
  display: flex;
  flex-direction: row;
}

.custom-input-detail-track{
  background-color: white;
  border-color: #dbdbdb;
  border-radius: 4px;
  margin-top: 10px;
  border-width: 1.5px;
  color: #363636;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 44px;
  border-style: solid;
}

