@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.claim-success-logo{
    width: 700px;
    height: 150px;
    object-fit: contain;
    margin-top: 35px;
    align-self: center;
}

.claim-success-content{
    display: flex;
    flex-direction: row;
}

.claim-success{
    display: flex;
    flex-direction: column;
}


.title-claim-success{
    object-fit: contain;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d11f40;
}

.text-claim-tracking{
    object-fit: contain;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    text-align: center;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1a1421;
}

.text-claim{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-claim-on-mobile{
display: flex;
flex-direction: column;
margin-top: 40px;  
}

@media(min-width: 360px){
    .text-id-claim-tracking{
        object-fit: contain;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #d11f40;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media(min-width: 600px){
    .text-id-claim-tracking{
        object-fit: contain;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #d11f40;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.subtitle-claim-success{
    object-fit: contain;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #c4c4c4;
}


@media(min-width: 360px){
    .green-leaf{
        width: 75px;
        display: flex;
        height:160px;
        margin-left: -10px;
        object-fit: contain;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media(min-width: 600px){
    .green-leaf{
        width: 80px;
        display: flex;
        height:300px;
        object-fit: contain;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media(min-width: 360px){
    .purple-leaf{
        width: 80px;
        height: 130px;
        margin-top:40px;
        margin-left: -15px;
        object-fit: contain;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@media(min-width: 600px){
    .purple-leaf{
        width: 80px;
        height: 160px;
        margin-top:60px;
        margin-left: -15px;
        object-fit: contain;
        background-repeat: no-repeat;
        background-size: contain;
    }
}



@media(min-width: 360px){
    .title-form-claim{
        object-fit: contain;
        font-size: 25px;
        font-family: "Poppins", sans-serif;
        font-weight: bolder;
        font-stretch: normal;
        margin-top: -25px;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #1a1421;
      }
}
@media(min-width: 600px){
    .title-form-claim{
        object-fit: contain;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: bolder;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #1a1421;
      }
}

@media(min-width: 360px){
    .left-leaf{
        display: flex;
        width: 100px;
        flex-direction: column;
        align-self: flex-start;
        margin-top: 100px;
        height: 100%;
        position: relative;
    }
}

@media(min-width: 600px){
    .left-leaf{
        display: flex;
        width: 150px;
        flex-direction: column;
        align-self: center;
        position: relative;
    }
}



@media(min-width: 360px){
    .right-leaf{
        display: flex;
        width: 200px;
        flex-direction: column;
        align-self: center;
        margin-top: 200px;
        position: relative;
    }
}

@media(min-width: 600px){
    .right-leaf{
        display: flex;
        width: 150px;
        flex-direction: column;
        align-self: center;
        margin-top: 200px;
        position: relative;
    }
}

@media(min-width: 360px){
    .ellipse{
        width: 60px;
        height: 20px;
        object-fit: contain;
        margin-top: -5px;
        margin-left: -15px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}


@media(min-width: 600px){
    .ellipse{
        width: 80px;
        height: 40px;
        object-fit: contain;
        margin-top: -82px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}


.content-btn-claim-success{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
}
.btn-claim-success {
  font-weight: 600;
  text-align: center;
  font-stretch: normal;
  font-style: normal;
  font-size: 14px;
  line-height: normal;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.07px;
}


