@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.content-reason-card {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.img {
  width: 90px;
  height: 190px;
  background-repeat: no-repeat;
  background-size: contain;
}

.style-card {
  margin-left: 18px;
  margin-right: 18px;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second-img {
  width: 130px;
  height: 190px;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 600px) {
  .three-img {
    width: 85px;
    height: 110px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media (min-width: 360px) {
  .three-img {
    width: 180px;
    height: 100px;
    margin-top: 90px;
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.reason-card-title {
  object-fit: contain;
  font-size: 18px;
  height: 28%;
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d11f40;
}
.reason-card-subtitle {
  object-fit: contain;
  font-size: 14px;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  font-stretch: normal;
  text-align: left;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1421;
}

.desc {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
}

.money {
  width: 240px;
  height: 160px;
}
.container-card {
  justify-content: center;
  display: flex;
}